numpy
pandas
pymupdf
pillow
ipython
openpyxl
matplotlib
seaborn
opencv-python
torch
torchvision
tqdm
requests
scikit-learn
scikit-image
wordcloud
transformers
openai
datasets
# opencv-contrib-python
scikit-posthocs
bertopic
top2vec
top2vec[sentence_encoders]
together
spacy
pingouin
inflect